<div class="welcome">
WELCOME
<a href='/selfprofile' >
<%= currUser.name %></a>

<form action='/logout' method='POST' style="text-align:right">
<input type="submit" value="LOG OUT">
</form>
</div>

<div class="container">
	<div class="count">
	<center>TWEETS :
	<%= countMyTweets %></center><br/><br/>
	<center>FOLLOWING : 
	<%= countFollowing%></center><br/><br/>
	<center>FOLLOWERS :
	<%= countFollowers%></center>
	</div>

	<div class="posttweet">
	<br/><br/><br/>
	<center>
	<form action='/addtweet' method='POST' class='tweetform'>
	<input type="text" name="tweetContent" placeholder="What's On Your Mind ??" style="width:500px;height:35px;">
	<input type="submit" value="TWEET"><br/>
	</form>
	<br/><br/><br/><br/><br/><br/>
	<form action='/searchperson' method='POST'>
	<input type="text" name="personName" placeholder="SEARCH YOUR FRIEND HERE" style="width:200px;height:15px;">
	<input type="submit" value="SEARCH">
	</form>
	</center>
	</div>
</div>

<br/><br/><br/><br/><br/><br/><br/>

<div class="taggedtweets">
<div class="headings">TAGGED TWEETS</div>
<br/>
<% allTags = Tag.all(:taggedTo =>currUser.userId) %>
<% if allTags.first %>
	<div class="tagging">
<% else %>
	<div>
<% end %>
<ul>
<!--Code To Check Tagged Or Not -->
<% allTags.each do |tagObject|%>
	<li>
	<% taggedByUser = User.get(tagObject.taggedBy) %>
	<a href="/profile/<%= taggedByUser.userId %>" > <%= taggedByUser.name %></a>
	 tagged you in a 
	 <a href="/showtweet/<%= tagObject.tagId %>"> tweet </a>.
	</li>
	<br/>
	<br/>
<% end %>
</ul>
</div>
</div>

<br/><br/><br/>

<div class="alltweets">
<div class="headings">
ALL TWEETS</div>
<br/>
<% allTweets.each do |tweetObject|%>
	<div class="completetweet">
	<% currUser = User.get(tweetObject.userId) %>
	<% currTweetId = tweetObject.tweetId %>
	<div class="name">
	<a href="/profile/<%= currUser.userId %>"> 
	<b><%= currUser.name %></b></a>
	</div>
	<div class="content"><%= tweetObject.content %></div>
	<div class="like">
	<a href="/listoflikes/<%= tweetObject.tweetId %> ">
	LIKES:<%=tweetObject.likes%></a>
	<!--<a href="/listofdislikes/<%= tweetObject.tweetId %> ">
	<br/>DISLIKES:
	<%= tweetObject.dislikes %>
	</a><br/> -->

	<% likeOnCurrTask = Like.all(:tweetId => currTweetId) %>
	<% likeByCurrUser = likeOnCurrTask.all(:userId => session[:userid]).first %>
	<% if likeByCurrUser %>
	<a href="/disliketweet/<%= tweetObject.tweetId %> ">
		<img src="https://pbs.twimg.com/media/CO-EECIUkAALqqu.jpg" style="height:20px;width:20px;">
	</a>
	<% else %>
	<a href="/liketweet/<%= tweetObject.tweetId %> ">
		<img src="http://2.bp.blogspot.com/-CZ6preo9Hfc/Vjk6aMS2GmI/AAAAAAAABO0/7WJa54trZCI/s1600/heart.png" style="height:20px;width:20px;">	
	</a>
	<% end %>
	</div>
	<br/>

	<div class="comment">
		<b><u>COMMENTS</u></b>
		<% allComments = Comment.all(:tweetId => currTweetId)%>
		<% allComments.each do |commentObject| %>
			<br/>
			<% currCommentUser = User.get(commentObject.userId)%>
			<b><%= currCommentUser.name %>:</b>
			<%= commentObject.content %>
		<% end %>

		<form action='/addcomment' method='POST'>
		<input type="text" name="commentContent" placeholder="Enter Your Comment Here" style="width:250px;height:15px;">
		<input type="hidden" name="tweetId" value="<%= currTweetId %>">
		<input type="submit" value="COMMENT">
		</form>
	</div>

	</div>
	<br/><br/>
<% end %>
</div>

<br/><br/><br/>

<div class="followedtweets">
<div class="headings">
TWEETS OF FOLLOWED PERSONS</div>
<br/>
<% displayTweets.each do |tweetObject|%>
	<div class="completetweet">
	<% currUser = User.get(tweetObject.userId) %>
	<% currTweetId = tweetObject.tweetId %>
	<div class="name">
	<a href="/profile/<%= currUser.userId %>"> 
	<b><%= currUser.name %></b></a>
	</div>
	<div class="content"><%= tweetObject.content %></div>
	<div class="like">
	<a href="/listoflikes/<%= tweetObject.tweetId %> ">
	LIKES:<%=tweetObject.likes%></a>
	<!--<a href="/listofdislikes/<%= tweetObject.tweetId %> ">
	<br/>DISLIKES:
	<%= tweetObject.dislikes %>
	</a><br/> -->

	<% likeOnCurrTask = Like.all(:tweetId => currTweetId) %>
	<% likeByCurrUser = likeOnCurrTask.all(:userId => session[:userid]).first %>
	<% if likeByCurrUser %>
	<a href="/disliketweet/<%= tweetObject.tweetId %> ">
		<img src="https://pbs.twimg.com/media/CO-EECIUkAALqqu.jpg" style="height:20px;width:20px;">
	</a>
	<% else %>
	<a href="/liketweet/<%= tweetObject.tweetId %> ">
		<img src="http://2.bp.blogspot.com/-CZ6preo9Hfc/Vjk6aMS2GmI/AAAAAAAABO0/7WJa54trZCI/s1600/heart.png" style="height:20px;width:20px;">	
	</a>
	<% end %>
	</div>
	<br/>

	<div class="comment">
		<b><u>COMMENTS</u></b>
		<% allComments = Comment.all(:tweetId => currTweetId)%>
		<% allComments.each do |commentObject| %>
			<br/>
			<% currCommentUser = User.get(commentObject.userId)%>
			<b><%= currCommentUser.name %>:</b>
			<%= commentObject.content %>
		<% end %>

		<form action='/addcomment' method='POST'>
		<input type="text" name="commentContent" placeholder="Enter Your Comment Here" style="width:250px;height:15px;">
		<input type="hidden" name="tweetId" value="<%= currTweetId %>">
		<input type="submit" value="COMMENT">
		</form>
	</div>

	</div>

<br/><br/><br/><br/>
<% end %>
</div>


<style>
	.tagging
	{
		background-color:#F78E52;
		height:250px;
		border-radius:15px;
 		box-shadow: 10px 10px 5px #888888;		
 		padding:10px;
 		padding-left:100px;
	}
	.taggedtweets
	{
		background-color:#99D4E8;
		padding:10px;
	}
	.alltweets
	{
		background-color:#99D4E8;
		padding:10px;
	}
	.followedtweets
	{
		background-color:#99D4E8;
		padding:10px;	
	}
	.headings
	{
		text-align: center;
		color:#031E96;
		font-size:20px;
	}
	.completetweet
	{
		background-color:#F78E52;
		height:250px;
		border-radius:15px;
 		box-shadow: 10px 10px 5px #888888;		
 		padding:10px;
	}
	.name
	{
		font-weight:bold;
		font-size:18px;
	}
	.content
	{
		background-color:#FFD197;
		height:40px;
		padding:5px;
	}
	.like
	{
		font-family: "Courier New", Courier, monospace;
		font-size:20px;
	}
	.comment
	{

	}
	.container
	{
		margin:auto;
		height:200px;
	}
	.count
	{
		color:blue;
		background-color:#99D4E8;
		padding:50px;
		width:250px;
		border-radius:30px;
		float:left;
		height:200px;
	}
	.welcome
	{
		text-color:red;
		font-weight:bold;
		font-size:20px;
	}
	.posttweet
	{
		width:800px;
		margin-left:250px;
		display:inline;
		height:200px;
	}
</style>